* {
  box-sizing: border-box;
}
$bp-mobile: 240px;
$bp-tablet: 600px;
$bp-desktop: 1000px;

body {
  margin: 0;
}
.menu{
  opacity: 1;
  cursor: pointer;
  position: sticky;
  top:0;
  //safari support
  position: -webkit-sticky;
  width: 100%;
  background-color: #111;
  &__list{
    margin:0 auto;
    padding:5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    //border: 1px solid red;
  }
  &__item{
    margin: 5px;
    padding: 5px 5px;
    //border: 1px solid white;
    list-style-type: none;
  }
  &__link{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }

}
.subMenu{
  opacity: 0;
  cursor: pointer;
  position: fixed;
  color: white;
  background-color: #111;
  border-radius: 0 0 25px 0;
  //width mus depend on device
  @media (min-width: $bp-mobile){
    width:100%;
  }
  @media (min-width: $bp-tablet){
    width: 50%;
  }
  @media (min-width: $bp-desktop){
    width: 35%;
  }




}

.hidden {
  display: none;
  visibility: hidden;
}
