<nav id="navMenu" class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
    </ul>

</nav>
