<nav id="navMenu" class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="">test test</a>
        </li>
    </ul>
</nav>
<nav id="navSubMenu" class="subMenu hidden">

    {% for i in range(1,20) %}
        <div>{{ i }}</div>
    {% endfor %}


</nav>
<div>
    {% for a in range(1,50) %}
        <div>{{ a }}</div>
    {% endfor %}
</div>
